@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --ui-white: #ffffff;
    /* --- Палитра красного --- */
    --ui-color-red-50: #fdf2f2;
    --ui-color-red-100: #fde8e8;
    --ui-color-red-200: #fbd5d5;
    --ui-color-red-300: #f8b4b4;
    --ui-color-red-400: #f27e7e;
    --ui-color-red-500: #bd5343;
    /* Основной красный */
    --ui-color-red-600: #ab4a3c;
    /* Hover */
    --ui-color-red-700: #993f33;
    --ui-color-red-800: #7f352a;
    --ui-color-red-900: #662a22;
    --ui-color-red-950: #4a1e19;

    /* --- Назначение PRIMARY   --- */
    --ui-primary: var(--ui-color-red-500);
    /* Для hover-состояний */
    --ui-primary-hover: var(--ui-color-red-600);


    /* --- Палитра зеленовато-серого (Sage) на базе #EFF2E8 --- */
    --ui-color-sage-50: #f8faf5;
    --ui-color-sage-100: #f4f6ee;
    --ui-color-sage-200: #eef2e9;
    --ui-color-sage-300: #e6ece0;
    --ui-color-sage-400: #dce4d4;
    --ui-color-sage-500: #EFF2E8;
    /* ^ исходный цвет */
    --ui-color-sage-600: #d2dcc6;
    --ui-color-sage-700: #bcc9ae;
    --ui-color-sage-800: #9dac8b;
    --ui-color-sage-900: #7e8e6b;
    --ui-color-sage-950: #5f6f4e;

    /* --- Палитра темно-серого (Charcoal) на базе #333333 --- */
    --ui-color-charcoal-50: #f5f5f5;
    --ui-color-charcoal-100: #e8e8e8;
    --ui-color-charcoal-200: #d1d1d1;
    --ui-color-charcoal-300: #b3b3b3;
    --ui-color-charcoal-400: #8c8c8c;
    --ui-color-charcoal-500: #666666;
    --ui-color-charcoal-600: #4d4d4d;
    --ui-color-charcoal-700: #404040;
    --ui-color-charcoal-800: #383838;
    --ui-color-charcoal-900: #2e2e2e;
    --ui-color-charcoal-950: #1f1f1f;


    /* --- Текст (Семантическая привязка) --- */
    --ui-text-dimmed: var(--ui-color-charcoal-200);
    --ui-text-muted: var(--ui-color-charcoal-300);
    --ui-text-toned: var(--ui-color-charcoal-400);
    --ui-text-default: var(--ui-color-sage-50);
    --ui-text-highlighted: var(--ui-color-charcoal-950);

    /* --- Фон (Семантическая привязка) --- */
    --ui-bg: var(--ui-white);
    /* Белые карточки */
    --ui-bg-muted: var(--ui-color-neutral-50);
    /* bg-gray-50 для фона страницы */
    --ui-bg-elevated: var(--ui-color-neutral-100);

    /* --- Границы (На основе документации) --- */
    --ui-border: var(--ui-color-neutral-200);
    --ui-border-muted: var(--ui-color-neutral-200);
    --ui-border-accented: var(--ui-color-neutral-300);

    /* --- Глобальные   --- */
    --ui-radius: 10px;
    /* --text-xs: 16px; */
    --tw-ring-color: var(--ui-color-charcoal-50)
}

/* Базовые настройки для темной темы (если понадобится) */
.dark {
    --ui-text-dimmed: var(--ui-color-neutral-500);
    --ui-text-muted: var(--ui-color-neutral-400);
    --ui-text-toned: var(--ui-color-neutral-300);
    --ui-text-default: var(--ui-color-neutral-200);
    --ui-text-highlighted: white;

    --ui-bg: var(--ui-color-neutral-900);
    --ui-bg-muted: var(--ui-color-neutral-850);
    --ui-bg-elevated: var(--ui-color-neutral-800);
}